@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-body: #1d2632;
  --bg-body-light: theme('colors.body-light');
  --bg-body-dark: theme('colors.body-dark');
  --bg-panel: theme('colors.panel');
  --bg-panel-light: theme('colors.panel-light');
  --bg-panel-dark: theme('colors.panel-dark');
  --overlay-dark: theme('colors.overlay-dark');
  --overlay-light: theme('colors.overlay-light');
  --font-family: theme('fontFamily.sans');
  --font-weight: theme('fontWeight.light');
  --green: #38c172;
}

input::placeholder,
textarea::placeholder {
  color: theme('colors.grey');
}

body {
  background-image: linear-gradient(135deg, var(--bg-body-light), var(--bg-body-dark));
  color: var(--text-primary);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

/** Custom tailwind helpers start **/
.bg-blur {
  filter: blur(35px);
  opacity: 0.25;
}

.bg-body {
  background-color: var(--bg-color);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}
/** Custom tailwind helpers end **/

.current-stroke path,
.current-stroke circle,
.current-stroke rect {
  stroke: currentColor !important;
}

.absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-h {
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.double-border-bottom::before,
.double-border-bottom::after {
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}

.double-border-bottom::before {
  background-color: var(--overlay-dark);
  bottom: 0px;
}

.double-border-bottom::after {
  background-color: var(--overlay-light);
  bottom: -1px;
}

.double-border-right::before,
.double-border-right::after {
  bottom: 0;
  content: '';
  width: 1px;
  top: 0;
  position: absolute;
  right: 0;
}

.double-border-right::before {
  background-color: var(--overlay-dark);
  right: 0px;
}

.double-border-right::after {
  background-color: var(--overlay-light);
  right: -1px;
}

.justify-self-end {
  justify-self: end;
}

.pin-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pin-close {
  right: 1rem;
  top: 1rem;
}

.pin-close-half {
  right: 0.5rem;
  top: 0.5rem;
}

.pin-edit {
  right: -0.75rem;
  top: -0.75rem;
}

.pin-delete {
  right: -0.75rem;
  top: 1rem;
}

.rotate-45deg {
  transform: rotate(45deg);
}

.react-grid-placeholder {
  background-color: '#03b3ed' !important;
}

.text-inherit {
  color: inherit !important;
}

.border-list:not(:last-child) {
  border-right: 1px solid #fff;
}

.react-select__control {
  background-color: theme('colors.grey-darkest') !important;
  border-color: theme('colors.grey-darkest') !important;
}

.react-select__control--is-open,
.react-select__control--is-focused {
  border: none;
  box-shadow: none !important;
  border-bottom: 1px solid theme('colors.grey-light') !important;
}

.react-select__menu {
  background-color: theme('colors.grey-darkest') !important;
  color: var(--text-primary) !important;
  margin-top: 1px !important;
}

.react-select__single-value {
  color: var(--text-primary) !important;
}

.react-select__option--is-focused {
  background-color: theme('colors.grey-lighter') !important;
  color: theme('colors.grey-darker') !important;
}

.react-select__option--is-selected {
  background-color: theme('colors.blue') !important;
  color: var(--text-primary) !important;
}

.react-select__indicator {
  color: var(--text-primary) !important;
}

.react-select__indicator-separator {
  background-color: var(--text-primary) !important;
}

.react-select__placeholder {
  color: theme('colors.grey') !important;
  opacity: 0.5;
}

/** Animations **/
.animate-height {
  transition: 0.15s height linear;
}
