@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

body {
  color: config('colors.white');
  background-color: config('backgroundColors.bg');
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
}

a {
  color: config('colors.link');
}

a:hover,
a:focus,
a:active {
  color: config('colors.hover:link');
}
