@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  color: config('colors.text');
  background-color: config('backgroundColors.body');
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
}

a {
  color: config('colors.link');
}

a:hover,
a:focus,
a:active {
  color: config('colors.hover:link');
}
