@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  color: config('colors.text');
  background-color: config('backgroundColors.body');
  font-family: config('fonts.sans');
  font-weight: config('fontWeights.thin');
}

a {
  color: config('colors.link');
}

a:hover,
a:focus,
a:active {
  color: config('colors.hover:link');
}

input,
textarea {
  color: config('colors.text');
}

input::placeholder,
textarea::placeholder {
  color: config('colors.grey-dark');
}

.current-stroke path {
  stroke: currentColor !important;
}

.grid {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.pin-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pin-modal {
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  top: 1.5rem;
}

.blink-1 {
  animation: blink 2s step-start 0s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hot-h {
  background: linear-gradient(0.1turn, config('colors.hot-light'), config('colors.hot-dark'));
}

.neutral-h {
  background: linear-gradient(0.1turn, config('colors.neutral-light'), config('colors.neutral-dark'));
}

.cold-h {
  background: linear-gradient(0.1turn, config('colors.cold-light'), config('colors.cold-dark'));
}

.progress {
  background-color: config('colors.progress');
  height: 2px;
}

.progress-now-playing {
  top: -2px;
}
