@tailwind preflight;
@tailwind components;
@tailwind utilities;

html,
body {
  color: config('colors.text');
  background-color: config('backgroundColors.body');
  font-family: config('fonts.sans');
  font-weight: config('fontWeights.thin');
}

a {
  color: config('colors.white');
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: config('colors.link');
}

button > a:hover,
button > a:focus,
button > a:active {
  color: config('colors.link');
}

input,
textarea {
  color: config('colors.text');
}

input::placeholder,
textarea::placeholder {
  color: config('colors.grey-dark');
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.current-stroke path,
.current-stroke circle,
.current-stroke rect {
  stroke: currentColor !important;
}

.grid {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.pin-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pin-modal {
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  top: 0rem;
}

.pin-close {
  right: -4rem;
  top: 1rem;
}

.blink-1 {
  animation: blink 2s step-start 0s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hot-h {
  background: linear-gradient(0.1turn, config('colors.hot-light'), config('colors.hot-dark'));
}

.neutral-h {
  background: linear-gradient(0.1turn, config('colors.neutral-light'), config('colors.neutral-dark'));
}

.cold-h {
  background: linear-gradient(0.1turn, config('colors.cold-light'), config('colors.cold-dark'));
}

.progress {
  background-color: config('colors.progress');
  height: 2px;
}

.progress-now-playing {
  top: -2px;
}

.double-border-bottom::before,
.double-border-bottom::after {
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}

.double-border-bottom::before {
  background-color: config('colors.overlay-dark');
  bottom: 0px;
}

.double-border-bottom::after {
  background-color: config('colors.overlay-light');
  bottom: -1px;
}

.double-border-right::before,
.double-border-right::after {
  bottom: 0;
  content: '';
  width: 1px;
  top: 0;
  position: absolute;
  right: 0;
}

.double-border-right::before {
  background-color: config('colors.overlay-dark');
  right: 0px;
}

.double-border-right::after {
  background-color: config('colors.overlay-light');
  right: -1px;
}

.rotate-45deg {
  transform: rotate(45deg);
}
